This workbook will be used to extract, tranform and load the 2020 Citibike Trip and Ride Data for analysis in tableau

In [3]:
# importing all libraies needed
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt

In [21]:
# read in the january data
january_df = pd.read_csv("Data\JC-202001-citibike-tripdata.csv")
february_df = pd.read_csv("Data\JC-202002-citibike-tripdata.csv")
march_df = pd.read_csv("Data\JC-202003-citibike-tripdata.csv")
april_df = pd.read_csv("Data\JC-202004-citibike-tripdata.csv")
may_df = pd.read_csv("Data\JC-202005-citibike-tripdata.csv")
june_df = pd.read_csv("Data\JC-202006-citibike-tripdata.csv")
july_df = pd.read_csv("Data\JC-202007-citibike-tripdata.csv")
august_df = pd.read_csv("Data\JC-202008-citibike-tripdata.csv")
september_df = pd.read_csv("Data\JC-202009-citibike-tripdata.csv")
october_df = pd.read_csv("Data\JC-202010-citibike-tripdata.csv")
november_df = pd.read_csv("Data\JC-202011-citibike-tripdata.csv")
december_df = pd.read_csv("Data\JC-202012-citibike-tripdata.csv")

In [30]:
# create a new dataframe and append all the dataframes
citi_2020_df = pd.DataFrame()

# # append all the dataframes
citi_2020_df = pd.concat([january_df, february_df, march_df, april_df, may_df, june_df, july_df, august_df, september_df, october_df, november_df, december_df])

citi_2020_df.info()

# # save the new dataframe to a csv file
# citi_2020_df.to_csv("Data\citi_2020_df.csv")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 336802 entries, 0 to 11693
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             336802 non-null  int64
 1   starttime                336802 non-null  object
 2   stoptime                 336802 non-null  object
 3   start station id         336802 non-null  int64
 4   start station name       336802 non-null  object
 5   start station latitude   336802 non-null  float64
 6   start station longitude  336802 non-null  float64
 7   end station id           336802 non-null  int64
 8   end station name         336802 non-null  object
 9   end station latitude     336802 non-null  float64
 10  end station longitude    336802 non-null  float64
 11  bikeid                   336802 non-null  int64
 12  usertype                 336802 non-null  object
 13  birth year               336802 non-null  int64
 14  gender                   336802 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 41.1+ MB

In [36]:
# insert a column with the durartion as minutes
citi_2020_df['duration_minutes'] = round(citi_2020_df['tripduration'] / 60, 1)

citi_2020_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,duration_minutes
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2,3.8
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2,6.3
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1,4.8
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0,7.2
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2,3.8

In [37]:
# # save the new dataframe to a csv file
citi_2020_df.to_csv("Data\citi_2020_df.csv")